html {
  font-size: 62.5%;
}

body {
  font-family: 'Hind Madurai', sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.button {
  padding: 10px 0;
  border: solid 15px white;
  font-family: 'Hind Madurai', sans-serif;
  border-radius: 3px;
  background: $blue;
  border: none;
  color: white;
  box-shadow: 13px 11px 46px -9px rgba(0,0,0,0.61);
  width: 20rem;
}
